body {
    background: #000;
    color: #fff;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
}

button {
    width: 200px;
    height: 32.5px;
    color: white;
    background: #333;
    border: 2px solid #777;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 5px
}

    button:hover {
        background: #444
    }

    button:focus {
        background: #444;
        outline: none;
    }

p {
    margin: 3px;
}

a {
    color: #0af
}

    a:visited {
        color: #f06
    }
    a:hover {
        color: #0fa;
    }

.pt {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 10px;
}

.pb {
    font-weight: 700;
}

select {
    text-align: center;
    text-align-last: center;
    color: #fff;
    background: #333;
    height: 30px;
    width: 70%;
    margin-bottom: 5px;
    border-radius: 10px
}
