body {
    background: #000;
    color: #fff;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
}

button {
    min-width: 250px;
    width: 20vw;
    min-height: 32.5px;
    color: white;
    background: #333;
    border: 2px solid #777;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 5px
}

    button:hover, button:focus, a.abtn:hover, a.abtn:focus {
        background: #444;
        outline: none;
    }

p {
    margin: 3px;
}

a {
    color: #0af
}

    a:visited {
        color: #f06
    }

    a:hover {
        background: #04a;
    }

    a.abtn {
        min-width: 250px;
        width: 20vw;
        height: 30px;
        color: #fff;
        background: #333;
        border: 2px solid #777;
        border-radius: 10px;
        font-size: 15px;
        margin-bottom: 5px;
        text-decoration: none;
        display: inline-flex;
        justify-content: center;
        align-items: center
    }

        a.abtn:visited {
            color: #fff
        }

.pt {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 10px;
}

.pb {
    font-weight: 700;
}

select {
    text-align: center;
    text-align-last: center;
    color: #fff;
    background: #333;
    height: 30px;
    width: 70%;
    margin-bottom: 5px;
    border-radius: 10px
}

hr {
    background: #333;
    border: none;
    height: 1px;
}

.wa {
    width: 70%;
    height: 50px;
    background: #333;
    border: 3px solid #777;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .wa:focus, .wa:hover {
        background: #444;
        outline: 2px solid #777;
    }

.navBar {
    background: #222;
}