/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #666
}

/* Track */
::-webkit-scrollbar-track {
    background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #aaa;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #888;
    }
/* bottom right square */
::-webkit-scrollbar-corner {
    background: #333;
}
/* no scrollbar*/
.nobar::-webkit-scrollbar {
    display:none
}

.both {
    border-left: 10px solid #333
}