body {
    color: #fff;
    background: #000;
    font-size: 18px;
    margin: 5px;
    font-family: Arial;
    text-align: center;
}

textarea {
    color: #fff;
    background: #444;
    width: 70%;
    min-height: 80px;
    height: 10vh;
    text-align: center;
    border: 1px solid #888;
    border-radius: 5px;
    resize: vertical
}

input:not([type=checkbox]):not([type=range]):not([type=radio]):not([type=color]):not([type=file]):not([type=color]):not([type=button]) {
    height: 25px;
    width: 70%;
    color: #fff;
    background: #444;
    text-align: center;
    border: 1px solid #888;
    margin-bottom: 2.5px;
    border-radius: 5px;
}

.txt2, textarea:read-only {
    background: #222;
    height: 100px;
    border: 1px solid #aaa;
    margin: 3px;
}

div.txt2 {
    min-height: 80px;
    height: 10vh;
    width: 70%;
    overflow: auto;
    overflow-wrap: break-word;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    resize: vertical
}

input:not([type=range]):not([type=radio]):not([type=color]):not([type=file]):not([type=color]):not([type=button]):focus, textarea:focus, select:focus {
    outline: 1px solid #999
}

.dc {
    margin: 0px;
    padding: 4px;
    text-align: center;
}

    .dc:hover {
        background: #444 !important
    }

    .dc:nth-child(odd) {
        background: #252525
    }

    .dc:nth-child(even) {
        background: #303030
    }

button, input[type=button] {
    color: #fff;
    background: #333;
    width: 35%;
    min-width: 250px;
    min-height: 28px;
    margin: 4px;
    border: 2px solid #777;
    font-size: 15px;
    border-radius: 5px;
}

    button:hover, input[type=button]:hover, select:hover {
        background: #444
    }

    button:focus, input[type=button]:focus, select:focus {
        background: #444;
        outline: 1px solid #999;
    }

.btn {
    width: 71%;
}

hr {
    background: #333;
    border: none;
    height: 0.5px;
}

select {
    text-align: center;
    text-align-last: center;
    color: #fff;
    background: #333333;
    height: 30px;
    width: 70%;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid #777
}

    select:disabled {
        filter: brightness(0.9)
    }

optgroup {
    background: #252525;
    font-size: 18px;
    border: 2px solid #fff
}


option {
    background: #333333;
    font-size: 16px
}

p {
    font-weight: 400;
    margin: 4px
}

.pt {
    font-weight: 700;
    font-size: 25px
}

.pn {
    font-weight: normal;
    margin: 2px;
}

.noM {
    margin: 0
}

a {
    color: #0af
}

    a:visited {
        color: #f06
    }

    a:hover {
        color: #0fa;
    }

code {
    background: #252525
}

.text {
    font-size: 18px;
    font-family: Arial;
    text-align: center
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #666
}

/* Track */
::-webkit-scrollbar-track {
    background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #aaa;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #888;
    }

/* bottom right square */
::-webkit-scrollbar-corner {
    background: #333;
}
