body {
    color: #fff;
    background: #000;
    font-size: 18px;
    margin: 5px;
    font-family: Arial;
}

textarea {
    color: #fff;
    background: #444;
    width: 70%;
    height: 60px;
    text-align: center;
    border: 1px solid #888;
    border-radius: 5px;
}

input {
    height: 25px;
    width: 70%;
    color: #fff;
    background: #444;
    text-align: center;
    border: 1px solid #888;
    margin-bottom: 2.5px;
    border-radius: 5px;
}

.txt2 {
    background: #222;
    height: 70px;
    border: 1px solid #aaa;
    margin: 3px;
}

div.txt2 {
    height: 30vh;
    width: 70%;
    overflow: scroll;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.dc {
    margin: 0px;
    padding: 4px;
    text-align: center;
}

    .dc:hover {
        background: #444 !important
    }

    .dc:nth-child(odd) {
        background: #252525
    }

    .dc:nth-child(even) {
        background: #303030
    }

button {
    color: #fff;
    background: #333;
    width: 35%;
    height: 28px;
    margin: 4px;
    border: 2px solid #777;
    font-size: 15px;
    border-radius: 5px;
}

    button:hover {
        background: #444
    }

    button:focus {
        background: #444;
        outline: none;
    }

.btn {
    width: 71%;
}

hr {
    background: #333;
    border: none;
    height: 0.5px;
}

select {
    text-align: center;
    text-align-last: center;
    color: #fff;
    background: #333;
    height: 30px;
    width: 70%;
    margin-bottom: 5px;
    border-radius: 5px;
}

p {
    font-weight: 400
}

.pt {
    font-weight: 700;
    font-size: 25px
}

.pn {
    font-weight: normal;
    margin: 2px;
}

a {
    color: #0af
}

    a:visited {
        color: #f06
    }

    a:hover {
        color: #0fa;
    }
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #666
}

/* Track */
::-webkit-scrollbar-track {
    background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #aaa;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #888;
    }

/* bottom right square */
::-webkit-scrollbar-corner {
    background: #333;
}
